@import "../../../styles/variables";

.home {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 100px;
  padding-bottom: 100px;
}

.home__content {
  flex: 1;

  h1 {
    font-size: 3rem;
    margin-bottom: 16px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  .icons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.home__avatar {
  width: 400px;
  height: auto;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: map_get($responsive-screen-width, 's')) {
  .home__avatar {
    width: 200px;
  }
}

@media (max-width: map_get($responsive-screen-width, 'xs')) {
  .home {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }

  .home__content {
    flex: unset;
  }
}
