@import "../../../styles/variables";

.projects {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: map_get($responsive-screen-width, 'm')) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: map_get($responsive-screen-width, 'xs')) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
