<div class="card__container">
  <div class="card" [routerLink]="[project.id]" appCardTilt>
    <div class="card__glare"></div>

    <div class="card__icon">
      <img [src]="project.icon ?? 'assets/exp-default-icon.svg'" alt="">
    </div>

    <div class="card__header">
      <h4 class="card__title">{{project.name}}</h4>
      <a *ngIf="project.link" [href]="project.link" target="_blank"><i class="fa-solid fa-link"></i></a>
    </div>

    <div class="card__body">
      <p class="card__descr">{{project.description}}</p>

      <div class="card__dates" *ngIf="project.beginDate">
        <div class="card__date">{{project.beginDate | date: 'MMMM yyyy'}}</div>
        <div class="card__date">{{project.endDate === 'current' ? (project.endDate | titlecase) : (project.endDate | date: 'MMMM yyyy')}}</div>
      </div>
    </div>

    <div class="card__footer">
      <div class="card__techs">
        <div class="card__tech" *ngFor="let tech of project.techStack">
          <img [src]="tech" alt="Technology icon">
        </div>
      </div>
    </div>
  </div>
</div>
