@import "styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.height-full {
  min-height: 100vh;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

.has-navbar-padding {
  padding-top: 100px;
}

.lightbox-wrapper .pswp__button:not(.pswp__button--arrow--right):not(.pswp__button--arrow--left) {
  background-image: url('/assets/default-skin.png') !important;
}

.lightbox-wrapper .pswp__button--arrow--right:before {
  background: rgba(0, 0, 0, 0.31) url('/assets/arrow_right.svg') center no-repeat !important;
}

.lightbox-wrapper .pswp__button--arrow--left:before {
  background: rgba(0, 0, 0, 0.31) url('/assets/arrow_right.svg') center no-repeat !important;
  transform: rotate(180deg);
}
